.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  &__inner {
    padding: 32px;
    @include container;
    display: flex;
    justify-content: center;
  }
  &__made-by {
    font-size: 22px;
  }
  &__made-by-link {
    color: #1DA3F6;
    text-decoration: none;
    padding: 1px;
    border-radius: 3px;
    &:focus {
      box-shadow: 0 0 0 2px #1DA3F6;
      outline: 0;
    }
  }
}
