.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  &__inner {
    padding: 32px;
    @include container;
    display: flex;
    justify-content: center;
  }
  &__made-by {
    font-size: 22px;
  }
  &__made-by-link {
    margin-left: -3px;
    color: $color-primary;
    text-decoration: none;
    padding: 6px;
    border-radius: 3px;
    &:focus {
      box-shadow: 0 0 0 2px $color-primary;
      outline: 0;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
