.form {
  display: flex;
  justify-content: space-between;
  &__select {
    padding: 4px;
    padding-left: 8px;
    font-size: 32px;
    margin-right: 16px;
    border: 1px solid $color-1;
    border-radius: 3px;
    &:focus {
      outline: 0;
      border-color: $color-primary;
      box-shadow: 0 0 0 2px $color-primary;
    }
    @media (max-width: 768px) {
      font-size: 24px;
    }
  }
  &__input {
    padding: 4px;
    padding-left: 8px;
    font-size: 32px;
    width: 100%;
    border: 1px solid $color-1;
    border-radius: 3px;
    &:focus {
      outline: 0;
      border-color: $color-primary;
      box-shadow: 0 0 0 2px $color-primary;
    }
    &--message--danger {
      border-color: $color-danger;
      box-shadow: 0 0 0 2px $color-danger;
      color: $color-danger;
      &:focus {
        border-color: $color-danger;
        box-shadow: 0 0 0 2px $color-danger;
      }
    }
    @media (max-width: 768px) {
      font-size: 24px;
    }
  }
}
