.header {
  &__inner {
    @include container;
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
    @media (max-width: 768px) {
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }
  &__title {
    font-size: 48px;
    text-align: center;
    @media (max-width: 768px) {
      font-size: 32px;
    }
  }
}
