.items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__item {
    width: 48%;
    min-width: 320px;
    border: 1px solid $color-1;
    border-radius: 3px;
    padding: 8px;
    margin-bottom: 32px;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  &__item-title {
    font-size: 28px;
    margin-right: 4px;
    text-align: center;
    @media (max-width: 768px) {
      font-size: 24px;
      margin: 0;
    }
  }
  &__item-result {
    width: 100%;
    font-size: 24px;
    text-align: center;
    border: 0;
    outline: 0;
    @media (max-width: 768px) {
      font-size: 20px;
    }
  }
}
