* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

li {
  list-style-type: none; }

* {
  font-family: 'Roboto', sans-serif; }

.header__inner {
  max-width: 768px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 32px; }
  @media (max-width: 768px) {
    .header__inner {
      margin-top: 16px;
      margin-bottom: 16px; } }

.header__title {
  font-size: 48px;
  text-align: center; }
  @media (max-width: 768px) {
    .header__title {
      font-size: 32px; } }

.form-section {
  margin-bottom: 32px; }
  @media (max-width: 768px) {
    .form-section {
      margin-bottom: 16px; } }
  .form-section__inner {
    max-width: 768px;
    width: 80%;
    margin: 0 auto; }

.form {
  display: flex;
  justify-content: space-between; }
  .form__select {
    padding: 4px;
    padding-left: 8px;
    font-size: 32px;
    margin-right: 16px;
    border: 1px solid #a3a3a3;
    border-radius: 3px; }
    .form__select:focus {
      outline: 0;
      border-color: #1DA3F6;
      box-shadow: 0 0 0 2px #1DA3F6; }
    @media (max-width: 768px) {
      .form__select {
        font-size: 24px; } }
  .form__input {
    padding: 4px;
    padding-left: 8px;
    font-size: 32px;
    width: 100%;
    border: 1px solid #a3a3a3;
    border-radius: 3px; }
    .form__input:focus {
      outline: 0;
      border-color: #1DA3F6;
      box-shadow: 0 0 0 2px #1DA3F6; }
    @media (max-width: 768px) {
      .form__input {
        font-size: 24px; } }

.items-section__inner {
  max-width: 768px;
  width: 80%;
  margin: 0 auto; }

.items {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .items {
      flex-wrap: wrap; } }
  .items__item {
    width: 48%;
    border: 1px solid #a3a3a3;
    border-radius: 3px;
    padding: 8px; }
    @media (max-width: 768px) {
      .items__item {
        width: 100%;
        margin-bottom: 32px; } }
  .items__item-title {
    font-size: 28px;
    margin-right: 4px;
    text-align: center; }
    @media (max-width: 768px) {
      .items__item-title {
        font-size: 24px;
        margin: 0; } }
  .items__item-result {
    width: 100%;
    font-size: 24px;
    text-align: center;
    border: 0;
    outline: 0; }
    @media (max-width: 768px) {
      .items__item-result {
        font-size: 20px; } }
